html, body {
	margin: 0;
	padding: 0;
}
.visualization {
	display:block;
}

#endButton {
	position: absolute;
	top: 20px;
	right: 20px;
}
#endButton > input {
	padding: 20px;
	display: block;
	margin-top: 20px;
}